@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .filter-black {
      filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
    }
  }

*{
  margin: 0;
  padding: 0;
}

html, body, #root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
